#skill {
  padding: 40px 20px;
  text-align: center;
}

#skill-box {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 6px;
  border: solid;
}

#skill-box h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

#skill-box p {
  font-size: 16px;
  margin-bottom: 15px;
}

#skill-box ul {
  list-style-type: disc;
  text-align: left;
  margin: 0 auto;
  padding-left: 40px;
}

#skill-box li {
  margin-bottom: 8px;
  line-height: 1.5;
}