.profile {
  padding: 40px 20px;
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  border: solid;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-info dl {
  padding: 20px;
  border-radius: 6px;
}

.profile-info dt {
  font-weight: bold;
  color: #0077ff;
  margin-top: 10px;
}

.profile-info dd {
  margin: 5px 0 10px 0;
  line-height: 1.5;
}